<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level [%-10thread] %logger{40} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="qms-service-auth" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/app/logs/qms-service-auth/qms-service-auth.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="ERROR">
        <appender-ref ref="qms-service-auth"/>
    </root>

    <logger name="com.qms.session" level="DEBUG" additivity="false">
        <appender-ref ref="qms-service-auth"/>
    </logger>
</configuration>